.section{
  display: flex;
}

.textinput-icon{
  display: flex;
  justify-content: space-between;
}

.icon{
  margin-top: 1rem;
  margin-right: 1rem;
}

.textinput{
  margin-left: 1rem;
}

.city-details {
  height: 50rem;
}

.city-list {
  height: 50rem;
}
